@import '../../variables.scss';

.picked-out {
    display: flex;
    align-items: center;
    background-color: $color-secondary;
    padding: 1rem;
    margin-left: 3rem;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $color-primary-white;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.8);
    }

    & span {
        margin-left: 5px;
    }
}