@import '../../variables.scss';

.product {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba($color-primary-dark, .5);

    &__img {
        border: 1px solid $color-primary-dark;
        width: 100%;
        height: auto;
        border-radius: 5px;

        &--cell {
            max-width: 10rem;
        }
    }

    &__content {
        padding: 1.5rem;
        position: relative;
    }

    &__text {
        margin-top: 1rem;
        margin-bottom: 1.8rem;

        &--cell {
            font-size: 2rem;
        }
    }

    &__add {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__picked-out {
        position: absolute;
        top: .8rem;
        right: .5rem;
        border: none;
        background: transparent;
        cursor: pointer;

        &--cell {
            position: static;
        }
    }
}